body {
  margin: 0;
  padding: 0;
}

.background {
  background: -webkit-linear-gradient(top, rgb(161,219,255) 0%,rgb(203,235,255) 53%,rgb(240,249,255) 100%); /* Chrome10+,Safari5.1+ */
  background-size: 100% 100%;
}

.in-front{
  z-index: 100;
}

.clouds {
  width: 20em;
  height: 20em;
  position: absolute;
}

.cloud1 {
	top: 18em;
  z-index: 2;
  fill: #fff;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 20s linear infinite;
  -moz-animation: move 20s linear infinite;
  -o-animation: move 20s linear infinite;
  animation: move 20s linear infinite;
}

.cloud2 {
	top: 28em;
  z-index: 1;
  fill: #fff;
  -webkit-animation: move 25s linear 5s infinite backwards;
  -moz-animation: move 25s linear 5s infinite backwards;
  -o-animation: move 25s linear 5s infinite backwards;
  animation: move 25s linear 5s infinite backwards;
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-20vw);}
  to {-webkit-transform: translateX(110vw);}
}
