<!DOCTYPE>
<html>
<head>
  <title>Handlebars Test</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/svg.css"/>
  <link rel="stylesheet" href="css/footer.css"/>
</head>

<body class="overflow-x-hidden vh-100">
  <div class="background dt vh-100 w-100">
    <svg class="clouds cloud1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
      <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
    </svg>
    <svg class="clouds cloud2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
      <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
    </svg>
    <header class="in-front dt w-100 bg-light-yellow br-bottom absolute">
      <h1 class="f1 f-subheadline-m fw6 tc white">Randomly nice <i class="fa fa-heart dark-red"></i></h1>
    </header>
    <article class="vh-100 dt w-100 absolute z-999">
      <div class="in-front dtc v-mid tc ph3 ph4-l">
        <h1 class="in-front f1-l fw6 tc">
          {{{sentence}}}
        </h1>
      </div>
    </article>
    <footer class="">
      <div class="center center pv4 ph3 ph5-m ph6-l mid-gray">
        <small class="f6 db tc">© 2017 <b class="ttu">Simon Sinding</b>., All Rights Reserved</small>
        <div class="tc mt3">
          <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
          <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
          <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
        </div>
    </div>
    </footer>
  </div>
</body>
</html>
